.details-page{
    padding: 120px 0 120px;
}

.details-item{
    &__inner{
        display: flex;
    }
    &__slide{
        width: 470px;
        margin-right: 60px;
    }
    &__content{
        width: 570px;
    }
    &__title{
        font-size: 40px;
        color: #333;
        @extend %rubik-400;
        margin-bottom: 25px;
    }
    &__price{
        margin: 35px 0;
        color: #333;
        font-size: 30px;
    }
    &__text{
        color: $regular;
        margin-bottom: 30px;
    }
    &__form{
        display: flex;
        margin-bottom: 50px;
    }
    &__btn{
        border: none;
        color: #fff;
        background-color: #a3bbc8;
        width: 210px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin-left: 65px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.jq-number__field {
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;  
    margin-left: 50px;
}

.jq-number__field input {
    width: 100%;
    padding: 0;
    height: 49px;
    font-size: 15px;
    color: #333;
    text-align: center;
}

.jq-number {
    padding: 0;
    position: relative;
    
}

.jq-number__spin.plus {
    right: -48px;
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jq-number__spin.minus {
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 8px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.jq-number__spin.minus{
    left: 2px;
}
.jq-number__spin.plus{
    right: -48px;
    
}

.jq-number__spin::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    background-color: $title;
    width: 8px;
    height: 1px;
    margin-left: 18px;
    margin-top: 21px;
}
.jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    background-color: $title;
    width: 1px;
    height: 8px;
    margin-left: 18px;
    margin-top: 21px;
}

.details-slide{
    display: flex;
    &__thumb{
        margin-right: 25px;
        width: 140px;
    }
    &__thumb-item{  
        max-width: 140px;
        height: 160px;
        border: 1px solid #f2f2f2;
        margin-bottom: 25px;
        cursor: pointer;
        img{
            width: 135px;
            height: 155px;
            object-fit: contain;
        }
    }
    &__big{
        width: 380px;
    }
    &__big-item{
        max-width: 320px;
        height: 550px;
        border: 1px solid #f2f2f2;
        img{ 
            object-fit: cover;
            width: 233px;
            height: 405px;
            margin: 0 auto;
            margin-top: 60px;
        }
    }
}


.details-info{
    &__item{
        display: flex;
        color: $regular;
    }
    &__title{
        margin-right: 5px;
    }
    &__text{
        color: $regular;
    }
}
 
.details-tabs{
    margin-top: 100px;
    &__top{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__top-item{
        font-size: 18px;
        @extend %rubik-500;
        color: $regular;
        background-color: #edf1f4;
        width: 240px;
        height: 50px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        & + .details-tabs__top-item{
            margin-left: 13px;
        }
    }
    &__top-item--active{
        color: #fff;
        background-color: #a3bbc8;
    }
    &__content-item{
        display: none;
        &.details-tabs__content-item--active{
            display: block;
        }
    }
    &__content-item{
        color: $regular;
    }
    
}

.related{
    &-top{
        margin-bottom: 60px;
    }
    &-top__title{
        font-size: 36px;
        @extend %dmsans-700;
        color: $regular;
    }
    &-content{
        display: flex;
    }
}

.slick-prev,
.slick-next{
   border: 2px solid #edf1f4;
   border-radius: 4px;
   padding: 0;
   width: 50px;
   height: 50px;
   cursor: pointer;
   position: absolute;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   &:hover{
       border: 2px solid #a3bbc8;
   }
}

.slick-prev{
    right: 65px;
    top: -95px;
}
.slick-next{
    right: 0;
    top: -95px;
}

.product__item{
    width: 270px;
    margin-bottom: 40px;
    background-color: #fff;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &__img-box{
        position: relative;
        height: 205px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    &-link__box{
        position: absolute;
        left: 65px;     
        bottom: 14px;
        width: 220px;
        transform: translateY(300%);
        transition: all .3s;
    }
    &-link{  
        background-color: #fff;
        border-radius: 50%;
        padding: 14px 8px 5px;
        margin: 0 auto;
        path{
            transition: all .3s;
        }
        &:hover{
            background-color: #a3bbc8;
            path{
                 fill: #fff;
            }
        }
    }
    .product__item-link + .product__item-link{
        margin-left: 10px;
    }
    &-images{
        object-fit: cover;
        margin: 0 auto;
    }
    &-title{
        @extend %dmsans-500;
        line-height: 40px;
        color: #243f4d;
        text-align: center;
    }
    &-price{
        @extend %dmsans-700;
        color: #a3bbc8;
        text-align: center;
    }
    &:hover{
        .product__item-link__box{
            transform: translateY(0)
        }
    }
}

.product-view{
    display: flex;
    &__item{
        height: 390px;
        width: 870px;
        background-color: #feefe2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    &__images{
        padding-bottom: 170px;
    }
    &__content{
        max-width: 345px;
    }
    &__title{
        @extend %rubik-400;
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
        margin-bottom: 25px;
    }
    &__text{
        padding-bottom: 35px;
        color: #243f4d;
    }
    &__more{
        color: #436372;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        padding: 20px 85px 20px 20px;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        position: relative;
        &::after{
            content: "";
            background-image: url('../images/icons/arrow-2.svg');
            width: 22px;
            height: 9px;
            position: absolute;
            top: 26px;
            right: 21px;

        }
    }
}