html,
body{
    height: 100%;
}

body{
    color: $default;
    font-size: 16px;
    line-height: 26px;
    @extend %rubik-400;
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container{
    max-width: 1800px;
    margin: 0 auto;
    padding: 0 15px;
}
.container-min{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.title{
    @extend %dmsans-700;
    font-size: 36px;
    color: $title;
    text-align: center;
    margin-bottom: 40px;
}

.pagination{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 870px;
    &__list{
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    &__link{
        color: $regular;
        border: 1px solid #a3bbc8;
        padding: 18px 20px;
        
    }
    &__item + .pagination__item{
        margin-left: 15px;
    }
    &__link--active{
        color: #fff;
        background-color: #a3bbc8;
    }
}

.pagination__product{
    margin-top: 80px;
    margin-bottom: 60px;
    display: flex;
    width: 870px;
    &__list{
        display: flex;
    }
    &__link{
        color: $regular;
        border: 1px solid #a3bbc8;
        padding: 18px 20px;
    }
    &__item + .pagination__item{
        margin-left: 15px;
    }
    &__link--active{
        color: #fff;
        background-color: #a3bbc8;
    }
}
@media (max-width: 1200px){
    .pagination__product{
        width: 100%;
    }
}

@media (max-width: 900px){
    .title{
        font-size: 30px;
    }
}
@media (max-width: 550px){
    .title{
        font-size: 22px;
        margin-bottom: 25px;
    }
}
@media (max-width: 500px){
    .pagination__link {
        padding: 10px 15px;
    }
}
@media (max-width: 400px){
    .pagination__prev,
    .pagination__next{
        display: none;
    }
}