@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
    padding: 40px 0 50px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

.logo{
    display: flex;
    &__img{
        height: 39px;
        width: 50px;
        margin-right: 10px;
    }
    &__title{
        color: $accent;
        font-size: 36px;
        line-height: 50px;
    }
}

.menu{ 
    &__list{
        display: flex;      
    }
    &__list-item + .menu__list-item{
        margin-left: 30px;
    }
    &__list-link{
        color: $accent;
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-500;
        &:hover{
            content: '+';
            color: $accent;
        }
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        margin-left: 30px;
    }
    &__link-search{
        background-color: #edf1f4;
        height: 51px;
        width: 51px;
        position: relative;
        border-radius: 50%;
        padding-top: 16px;
        padding-left: 16px;
    }
    &__wrapper{
        background-color: #fcd7b6;
        position: relative;
        height: 50px;
        width: 178px;
        border-radius: 25px;
        padding-top: 14px;
        padding-left: 37px;
        margin-left: 20px;
    }
    &__num{
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: -9px;
        right: -8px;
        color: #243f4d;
        text-align: center;
        line-height: 16px;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 17px;
        color: #243f4d;
    }
    &__link-img{
        display: inline-block;
    }
    &__link-menu{
        position: relative;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        background-color: #a3bbc8;
        padding-top: 16px;
        padding-left: 16px;
        margin-left: 20px;
    }
    &__link-border{
        border-left: 1px solid #fde7d3;
        height: 32px;
        position: absolute;
        align-items: center;
        padding-left: 30px;
    }
}

.top{
    &-container{
        max-width: 1920px;
        margin: 0 auto;
        background-color: #edf1f4;
        height: 125px;
        
    } 
    &__title{
        margin-bottom: 10px;
        padding-top: 35px;
        line-height: 24px;
        color: #222933;
        @extend %rubik-300;
    }
}

.breadcrumbs{
    &__list{
        display: flex;
        justify-content: center;
    }
    .breadcrumbs__item + .breadcrumbs__item{
        margin-left: 20px;
    }
    &__item{
        position: relative;
        &::after{
            content: '/';
            position: absolute;
            right: -10px;
            top: 1px;
            font-size: 14px;
            line-height: 24px;
            color: #9a9ea2;
        }
        &:last-child{
            &::after{
                display: none;
            }
        }
    }
    &__link{
        @extend %rubik-400;
        font-size: 14px;
        line-height: 24px;
        color: #9a9ea2;
    }
}

.footer-top{
    display: flex;
    border-bottom: 1px solid #dae4e9;
    padding: 90px 0 75px;
    &__logo{
        margin-bottom: 30px;
    }
    &__addres{
        margin-bottom: 22px;
        color: $text;
        font-size: 14px;
        line-height: 24px;
    }
    &__title{
        margin-bottom: 16px;
        font-size: 16px;
        line-height: 58px;
        color: #1f2044;
        @extend %dmsans-700
    }
    &__contact{
        width: 200px;
        margin-right: 100px;
    }
    &__link{
        font-size: 14px;
        line-height: 32px;
        color: $text;
    }
    &__nav{
        width: 120px;
        margin-right: 180px;
    }
    &__item-form{
        width: 350px;
    }
    &__text{
        margin-bottom: 30px;
        color: $text;
    }
    &__form-input{
        max-width: 210px;
        width: 100%;
        padding: 10px 5px;
        &::placeholder{
            color: #234969;
            background-color: #fef7f0;
            font-size: 12px;
            @extend %dmsans-400;
            
        }
    }
    &__form-btn{
        color: #fff;
        @extend %dmsans-400;
        padding: 10px 12px;
        background-color: #a3bbc8;
        border: none;
    }
}


.footer-bottom{
    display: flex;
    justify-content: space-between;
    padding: 35px 0 35px;
    &__list{
        display: flex;
    }
    &__item + .footer-bottom__item{
        margin-left: 30px;
    }
    &__link{
        font-size: 14px;
        line-height: 32px;
        color: #7b7b7b;
        position: relative;
    }
    &__link::before{
        position: absolute;
        border-left: 1px solid #000;
        height: 16px;
    }
}

.top-slider{
    background-color: #fcd7b6;
    height: 820px;
    max-width: 1770px;
    margin: 0 auto;
    &__inner{
        margin-bottom: 50px;
    }
    &__item{
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    &__content{
        max-width: 430px;
        width: 100%;
        margin-right: 100px;
    }
    &__title{
        @extend %rubik-500;
        color: #243f4d;
        font-size: 72px;
        margin-bottom: 45px;
        line-height: 70px;
    }
    &__text{
        color: #243f4d; 
        @extend %rubik-400;
        font-size: 18px;
        margin-bottom: 45px;
    }
    &__link{
        background-color: #a3bbc8;
        padding: 23px 100px 23px 27px;
        color: #fff;
        position: relative;
        &::after{
            content: "";
            background-image: url('../images/icons/arrow.svg');
            width: 22px;
            height: 9px;
            position: absolute;
            top: 26px;
            right: 21px;
        }
    }
    &__img{
        padding-top: 100px;
    }
    .slick-dots{
        display: flex;
        justify-content: center;
        li{
            
            button{
                font-size: 12px;
                color: #243f4d;
                background-color: rgb(255, 255, 255);
                opacity: 0.5;
                border: 1px solid #fff;
                width: 29px;
                height: 29px;
                border-radius: 50%;
                margin-left: 5px;
                
            }
            &.slick-active{
                button{
                    opacity: 1;
                    background-color: #fff;
                    outline: none;
                }
            }
        }
    }
}

 .info{
     background-color: #fef7f0;
     padding: 50px 0 50px;
     &__items{
        display: flex;
        justify-content: space-around;
     }
     &__item{
         width: 213px;
     }
     &__item-title{
         @extend %dmsans-700;
         font-size: 18px;
         line-height: 40px;
         color: #414141;
     }
     &__item-text{
         @extend %dmsans-400;
         line-height: 30px;
         color: #585858;
     }
     &__item-time{
         position: relative;
         &::before{
             content: "";
             position: absolute;
             background-image: url('../images/icons/time.svg');
             background-repeat: no-repeat;
             width: 50px;
             height: 50px;
             top: 12px;
             left: -69px;
         }
     }
     &__item-delivery{
        position: relative;
        &::before{
            content: "";
            position: absolute;
            background-image: url('../images/icons/delivery.svg');
            background-repeat: no-repeat;
            width: 50px;
            height: 30px;
            top: 12px;
            left: -69px;
        }
    }
    &__item-secure{
        position: relative;

        &::before{
            content: "";
            position: absolute;
            background-image: url('../images/icons/credit-card.svg');
            background-repeat: no-repeat;
            width: 50px;
            height: 44px;
            top: 12px;
            left: -69px;

        }
    }
     
 }  

.product{
    padding: 50px 0 75px;
    &__filter-btn{
        display: flex;
        justify-content: center;
    }
    &__btn{
        border: none;
        @extend %dmsans-700;
        color: $default;
        background-color: #fff;
        cursor: pointer;
        margin-bottom: 110px;
        outline: none;
    }
    .product__btn + .product__btn{
        margin-left: 30px;
    }
    &__content{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 20px; 
        padding-bottom: 100px;
    }
}
  

.product__item{
    width: 270px;
    margin-bottom: 40px;
    background-color: #fff;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &__img-box{
        position: relative;
        height: 205px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    &-link__box{
        position: absolute;
        left: 65px;     
        bottom: 14px;
        width: 220px;
        transform: translateY(300%);
        transition: all .3s;
    }
    &-link{  
        background-color: #fff;
        border-radius: 50%;
        padding: 14px 8px 5px;
        margin: 0 auto;
        path{
            transition: all .3s;
        }
        &:hover{
            background-color: #a3bbc8;
            path{
                 fill: #fff;
            }
        }
    }
    .product__item-link + .product__item-link{
        margin-left: 10px;
    }
    &-images{
        object-fit: cover;
        margin: 0 auto;
    }
    &-title{
        @extend %dmsans-500;
        line-height: 40px;
        color: #243f4d;
        text-align: center;
    }
    &-price{
        @extend %dmsans-700;
        color: #a3bbc8;
        text-align: center;
    }
    &:hover{
        .product__item-link__box{
            transform: translateY(0)
        }
    }
}

.product-view{
    display: flex;
    &__item{
        height: 390px;
        width: 870px;
        background-color: #feefe2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    &__images{
        padding-bottom: 170px;
    }
    &__content{
        max-width: 345px;
    }
    &__title{
        @extend %rubik-400;
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
        margin-bottom: 25px;
    }
    &__text{
        padding-bottom: 35px;
        color: #243f4d;
    }
    &__more{
        color: #436372;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        padding: 20px 85px 20px 20px;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        position: relative;
        &::after{
            content: "";
            background-image: url('../images/icons/arrow-2.svg');
            width: 22px;
            height: 9px;
            position: absolute;
            top: 26px;
            right: 21px;

        }
    }
}

.design{
    padding: 50px 0 75px;
    &__filter-btn{
        display: flex;
        justify-content: center;
    }
    &__btn{
        border: none;
        @extend %dmsans-700;
        color: $default;
        background-color: #fff;
        cursor: pointer;
        margin-bottom: 110px;
        outline: none;
    }
    .product__btn + .product__btn{
        margin-left: 30px;
    }
    &-content{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding-bottom: 100px;
    }
    &__item{
        background-color: #f8f8f8;
        max-width: 370px;
        height: 250px;
    }
    &-item__title{
        padding-top: 30px;
        padding-left: 40px;
        @extend %dmsans-700;
        font-size: 20px;
        color: $title;
        position: relative;
        width: 210px;
        margin-bottom: 18px;

    }
    &-item__text{
        padding-left: 40px;
        @extend %dmsans-700;
        color: #a3bbc8;
        position: relative;
    }
    &-item__img{
        position: absolute;
        display: inline-block;
    }
    &__item-chair{
        padding-left: 220px;
        padding-top: 50px;
    }
}

.video{
    width: 100%;
    height: 500px;
    background-image: url('../images/video.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.blog{
    padding: 75px 0 80px;
    &-top__name{
        display: flex;
        justify-content: space-between;
    }
    &-view{
        @extend %dmsans-700;
        color: #262626;
        position: relative;
        padding-right: 25px;
        &::after{
            content: '';
            position: absolute;
            width: 6px;
            height: 11px;
            background-image: url('../images/icons/arrow-right.svg');
            background-repeat: no-repeat;
            background-size: cover;
            top: 6px;
            right: 1px;
        }
    }
    &-top__items{
        display: flex;
        justify-content: space-between;
    }
    
}

.blog-top__item{
    padding-bottom: 80px;
    width: 370px;
    height: 480px;
    position: relative;
    background-color: #fff;
    &-text{
        padding: 35px 55px 18px 30px;
        @extend %dmsans-500;
        font-size: 18px;
        color: #262626;
        border-bottom: 1px solid #e0e0e0;
    }
    &-date{
        padding-left: 45px;
        position: relative;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        color: #222933;
        &::before{
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background-image: url('../images/icons/calendar.svg');
            background-repeat: no-repeat;
            background-size: cover;
            top: 1px;
            left: 30px;
        }
    }
    &-autore{
        padding-left: 42px;
        position: relative;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        color: #222933;
        &::before{
            content: '';
            position: absolute;
            width: 11px;
            height: 11px;
            background-image: url('../images/icons/user.svg');
            background-repeat: no-repeat;
            background-size: cover;
            top: 0;
            left: 27px;
        }
    }
    &--active{
        .blog-top__item-link::before{
            content: 'NEWS';
            padding: 7px 30px;
            background-color: #a3bbc8;
            border-radius: 25px;
            position: absolute;
            top: 230px;
            left: 27px;
            color: #fff;
            @extend %dmsans-700;
            font-size: 14px;
            line-height: 20px;
        }
    }
}

.partners{
    background-color: #fef7f0;
    padding: 95px 0 90px;
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.modal{
    padding-top: 80px;
    max-width: 475px;
    margin: 0 auto 150px;
    &__label{
        font-size: 14px;
        color: #436372;
    }
    &__input{
        display: block;
        width: 100%;
        margin: 10px 0 20px;
        border: 1px solid #f6f6f6;
        height: 50px;
        padding: 0 15px;
    }
    &__btn{
        width: 100%;
        color: #fff;
        background-color: #a3bbc8;
        border: none;
        padding: 15px 0 15px;
        margin-bottom: 35px;
        @extend %rubik-500;
        cursor: pointer;
    }
    &__item{
        display: flex;
        justify-content: space-between;
        margin-bottom: 65px;
        font-size: 14px;
        color: #436372;
    }
    &__link{
        font-size: 14px;
        color: #436372;
    }
    &__problem{
        display: flex;
        justify-content: center;
        margin-bottom: 24px;
        font-size: 14px;
        color: #436372;
    }
    &__create{
        display: block;
        width: 100%;
        background-color: #fff;
        border: 2px solid #a3bbc8;
        padding: 15px 0 15px;
        color: $regular;
        font-size: 18px;
        @extend %rubik-500;
        cursor: pointer;
    }
}

.about{
    padding: 120px 0 120px;
    &__img{
        width: 570px;
    }
    &__top{
        display: flex;
    }
    &__content{
        width: 600px;
        align-items: left;
        padding-left: 60px;
    }
    &__num{
        display: flex;
        @extend %rubik-700;
        font-size: 140px;
        line-height: 32px;
        color: #a3bbc8;
        margin-bottom: 50px;
        padding-top: 100px;
        &-number{
            padding-top: 17px;
        }
        &-item{
            flex-direction: column;
        }
        &-text{
            @extend %rubik-400;
            font-size: 16px;
            line-height: 30px;
            color: $regular;
            margin-left: 35px;
        }
    }
    &__title{
        @extend %dmsans-700;
        font-size: 36px;
        line-height: 32px;
        color: $regular;
        margin-bottom: 45px;
    }
    &__text{
        color: $regular;
        padding-bottom: 65px;
        border-bottom: 2px solid #ebeef3;
    }
    &__info{
        display: flex;
        margin-top: 30px;
        &-item{
           flex-direction: column; 
           margin-left: 100px;
           position: relative;
           &__project::before{
               content: '';
               position: absolute;
               background-image: url('../images/icons/project.svg');
               background-repeat: no-repeat;
               background-size: cover;
               top: 0;
               left: -60px;
               width: 37px;
               height: 38px;
           }
           &__revenue::before{
               content: '';
               position: absolute;
               background-image: url('../images/icons/revenue.svg');
               background-repeat: no-repeat;
               background-size: cover;
               top: 0;
               left: -60px;
               width: 43px;
               height: 39px;
           }
           &__awards::before{
               content: '';
               position: absolute;
               background-image: url('../images/icons/awards.svg');
               background-repeat: no-repeat;
               background-size: cover;
               top: 0;
               left: -60px;
               width: 42px;
               height: 41px;
           }
        }
        &-numb{
            @extend %dmsans-700;
            font-size: 36px;
            color: $regular;
        }
        &-text{
            @extend %dmsans-700;
            color: #4c4c4c;
        }
    }
}

.statistics{
    background-color: #fcd7b6;
    height: 320px;
    &__items{
        display: flex;
        justify-content: space-around;
        padding-top: 70px;
        text-align: center;
    }
    &-item{
        display: flex;
        flex-direction: column;
    }
    &__img{
        margin-bottom: 22px;
        height: 64px;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            background-color: #a3bbc8;
            width: 33px;
            height: 33px;
            left: 0;
            top: 0;
        }

    }
    &__numb{
        @extend %dmsans-700;
        font-size: 36px;
        color: $regular;
        line-height: 32px;
        margin-bottom: 5px;
    }
    &__text{
        @extend %dmsans-700;
        font-size: 18px;
        line-height: 32px;
        color: $regular;
    }
}

.team{
    padding-top: 120px;
    &__inner{
        display: flex;
    }
    &__info{
        max-width: 300px;
        margin-right: 100px;
    }
    &__title{
        @extend %dmsans-700;
        font-size: 36px;
        color: $regular;
        line-height: 32px;
        margin-bottom: 20px;
    }
    &__text{
        color: $regular;
        margin-bottom: 40px;
    }
    &__join{
        color: #fff;
        font-size: 15px;
        background-color: #a3bbc8;
        @extend %dmsans-500;
        padding: 15px 60px 15px 17px;
        border-radius: 5px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/arrow.svg');
            height: 9px;
            width: 22px;
            top: 19px;
            right: 20px;
        }
    }
    &__items{
        width: 770px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }
    &__more{
        background-color: #fff;
        width: 332px;
        height: 100px;
        box-shadow: 0px 6px 57px 0px rgba(37, 37, 37, 0.05);
        position: relative;
        margin-top: -42px;     
    }
    &__item{
        width: 370px;
        height: 315px;
        margin-bottom: 100px;
        position: relative;
        
    }
    &__name{
        padding: 23px 0 0 30px;
        @extend %dmsans-700;
        font-size: 22px;
        color: $accent;
        position: relative;
    }
    &__prof{
        padding: 10px 0 25px 30px;
        color: #565872; 
    }
    &__img-google{
        display: inline-block;
        position: absolute;
        right: 35px;
        top: 47px;
    }

    &__img-inst{
        display: inline-block;
        position: absolute;
        right: 80px;
        top: 45px;
        background: #f6f6f6;
    }
    
    &__img + .team__img{
        margin-left: 40px;
    }

    
}

.terms{
    padding-top: 120px;
    &__title{
        @extend %rubik-500;
        font-size: 24px;
        color: $regular;
        margin-bottom: 25px;
    }
    ol.terms__list{
        margin: 0 0 60px 20px;
        color: $regular;
        line-height: 30px;
    }
    &__item{
        margin-bottom: 20px;
    }
    &__text{
        color: $regular;
        margin-bottom: 60px;
    }
}

.shop{
    padding-top: 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__wrapper{
        display: flex;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 100px;
        width: 875px;
    }
}

.filter{
    &__title{
        @extend %dmsans-700;
        font-size: 18px;
        color: #243f4d;
        position: relative;
        margin-bottom: 30px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 125px;
            color: #a3bbc8;
        }
    }
}

.filter__item{
    width: 270px;
}

.filter__category{
    margin-bottom: 60px;
    &-label{  
        cursor: pointer;
    }
    &__title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 125px;
            color: #a3bbc8;
        }
    }
    &-input{
        @extend %checkbox-hidden;
        &:checked + .filter__category-checkbox{
            background-color: #edf1f4;
        }
    }
    &-checkbox{
        background-color: #fff;
        width: 270px;
        padding: 15px 20px 13px 15px;
        position: relative;
        border-radius: 6px;
        margin-bottom: 5px; 
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/right.svg');
            background-repeat: no-repeat; 
            background-size: cover;
            width: 6px;
            height: 10px;
            top: 15px;
            left: 240px;
        }
    }
    &-text{
        color: $regular;
    }
}

.irs--flat .irs-min, .irs--flat .irs-max{
    display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    display: none;
}

.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: -3px;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    background-color: #a3bbc8;
    cursor: pointer;
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: #a3bbc8;
}

.irs--flat .irs-line {
    top: 25px;
    height: 2px;
    background-color: #c2d2db;
    border-radius: 4px;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 4px;
    background-color: #a3bbc8;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    display: none;
}

.filter__price{
    margin-bottom: 80px;
    &-title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 75px;
            color: #a3bbc8;
        }
    }
    &-label{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &-span{
        color: $regular;
        font-size: 14px;

    }
}

.filter__brand{
    margin-bottom: 50px;
    &-title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 85px;
            color: #a3bbc8;
        }
    }
    &-label{
        cursor: pointer;
    }
    &-input{
        @extend %checkbox-hidden;
        &:checked + .filter__brand-checkbox{
            background-color: #edf1f4;
        }
    }
    &-checkbox{
        display: flex;
        justify-content: space-between;
        color: $regular;
        padding: 15px 20px 13px 15px;
        border-radius: 6px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    
}

.filter__recent{
    &-title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 195px;
            color: #a3bbc8;
        }
    }
    &-content__title{
        margin-bottom: 2px;
    }
    &-item{
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &-link{
        display: flex;
    }
    &-images{
        width: 70px;
        height: 70px;
        border: 2px solid #f2f2f2;
    }
    &-img{
        margin: 0 auto;
        padding: 1px 0; 
    }
    &-price{
        font-size: 15px;
        color: #333;
    }
    &-content{
        padding-left: 20px;
    }
}

.star{
    padding: 0;
    margin-bottom: 4px;
}

.shop__product{
    margin-left: 30px;
    margin-bottom: 120px;
    &-item{
        display: flex;
        margin-bottom: 40px;
         &:last-child{
            margin-bottom: 80px;
        }
    }
    &-images{
        width: 370px;
        height: 500px;
        border: 2px solid #f2f2f2;
        display: flex;
        align-items: center;   
    }
    &-img{
        margin: 0 auto; 
    }
    &-info{
        margin: 80px 0 0 60px;
        width: 410px;
    }
    &-title{
        font-size: 40px;
        color: #333;
        margin-bottom: 20px;
    }
    &-star{
        padding: 0;
        margin-bottom: 35px;
    }
    &-numb{
        font-size: 30px;
        color: #333;
        margin-bottom: 25px;
    }
    &-text{
        color: $regular;
        margin-bottom: 40px;
    }
    &-link__add{
        width: 50px;
        height: 50px;
        background-color: #a3bbc8;
        display: flex;
        align-items: center;
    }
    &-link__like{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
    }
    &-link__add-img{
        background-color: #a3bbc8;  
        align-items: center;
        margin: 0 auto;
    }
    &-link__like-img{  
        margin: 0 auto;
    }
    &-link__like{
        width: 50px;
        height: 50px;
        background-image: url('../images/icons/like.svg');
    }
    &-list{
        display: flex;
    }
}

.details-page{
    padding: 120px 0 120px;
}

.details-item{
    &__inner{
        display: flex;
    }
    &__slide{
        width: 470px;
        margin-right: 60px;
    }
    &__content{
        width: 570px;
    }
    &__title{
        font-size: 40px;
        color: #333;
        @extend %rubik-400;
        margin-bottom: 25px;
    }
    &__price{
        margin: 35px 0;
        color: #333;
        font-size: 30px;
    }
    &__text{
        color: $regular;
        margin-bottom: 30px;
    }
    &__form{
        display: flex;
        margin-bottom: 50px;
    }
    &__btn{
        border: none;
        color: #fff;
        background-color: #a3bbc8;
        width: 210px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin-left: 65px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.jq-number__field {
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;  
    margin-left: 50px;
}

.jq-number__field input {
    width: 100%;
    padding: 0;
    height: 49px;
    font-size: 15px;
    color: #333;
    text-align: center;
}

.jq-number {
    padding: 0;
    position: relative;
    
}

.jq-number__spin.plus {
    right: -48px;
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
}
.jq-number__spin.minus {
    width: 50px;
    height: 50px;
    border: 1px solid #a3bbc8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.jq-number__spin {
    position: absolute;
    cursor: pointer;
    width: 8px;
    height: 8px;
    top: 50%;
    transform: translateY(-50%);
}
.jq-number__spin.minus{
    left: 2px;
}
.jq-number__spin.plus{
    right: -48px;
    
}

.jq-number__spin::after {
    content: '';
    position: absolute;
    top: 4px;
    left: 0;
    background-color: $title;
    width: 8px;
    height: 1px;
    margin-left: 18px;
    margin-top: 21px;
}
.jq-number__spin.plus::before {
    content: '';
    position: absolute;
    top: 0;
    left: 4px;
    background-color: $title;
    width: 1px;
    height: 8px;
    margin-left: 18px;
    margin-top: 21px;
}

.details-slide{
    display: flex;
    &__thumb{
        margin-right: 25px;
        width: 140px;
    }
    &__thumb-item{  
        max-width: 140px;
        height: 160px;
        border: 1px solid #f2f2f2;
        margin-bottom: 25px;
        cursor: pointer;
        img{
            width: 135px;
            height: 155px;
            object-fit: contain;
        }
    }
    &__big{
        width: 380px;
    }
    &__big-item{
        max-width: 320px;
        height: 550px;
        border: 1px solid #f2f2f2;
        img{ 
            object-fit: cover;
            width: 233px;
            height: 405px;
            margin: 0 auto;
            margin-top: 60px;
        }
    }
}


.details-info{
    &__item{
        display: flex;
        color: $regular;
    }
    &__title{
        margin-right: 5px;
    }
    &__text{
        color: $regular;
    }
}
 
.details-tabs{
    margin-top: 100px;
    &__top{
        display: flex;
        justify-content: center;
        margin-bottom: 30px;
    }
    &__top-item{
        font-size: 18px;
        @extend %rubik-500;
        color: $regular;
        background-color: #edf1f4;
        width: 240px;
        height: 50px;
        border-radius: 6px;
        display: flex;
        align-items: center;
        justify-content: center;
        & + .details-tabs__top-item{
            margin-left: 13px;
        }
    }
    &__top-item--active{
        color: #fff;
        background-color: #a3bbc8;
    }
    &__content-item{
        display: none;
        &.details-tabs__content-item--active{
            display: block;
        }
    }
    &__content-item{
        color: $regular;
    }
    
}

.related{
    &-top{
        margin-bottom: 60px;
    }
    &-top__title{
        font-size: 36px;
        @extend %dmsans-700;
        color: $regular;
    }
    &-content{
        display: flex;
    }
}

.slick-prev,
.slick-next{
   border: 2px solid #edf1f4;
   border-radius: 4px;
   padding: 0;
   width: 50px;
   height: 50px;
   cursor: pointer;
   position: absolute;
   background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
   outline: none;
   &:hover{
       border: 2px solid #a3bbc8;
   }
}

.slick-prev{
    right: 65px;
    top: -95px;
}
.slick-next{
    right: 0;
    top: -95px;
}

.blog-page{
    padding: 120px 0 120px;
    
    &__inner{
        display: flex;
    }
    &__items{
        margin-right: 10px;
        display: flex;
        flex-direction: column;
    }
    &__item{
        width: 830px;
        margin-bottom: 50px;
    }
    &__item-img{
        width: 800px;
        height: 500px;
    }
    &__info{
        width: 270px;
        display: flex;
        padding: 22px 22px;
        background-color: #a3bbc8;
        position: absolute;
        margin-top: -74px;
    }
    &__info-date{
        padding-left: 15px;
        position: relative;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        color: #fff;
        &::before{
            content: '';
            position: absolute;
            width: 11px;
            height: 12px;
            background-image: url('../images/calendar-regular.svg');
            background-repeat: no-repeat;
            background-size: cover;
            top: 8px;
            left: 0;
        }
    }
    &__info-author{
        padding-left: 30px;
        position: relative;
        @extend %rubik-400;
        font-size: 12px;
        line-height: 30px;
        color: #fff;
        &::before{
            content: '';
            position: absolute;
            width: 11px;
            height: 12px;
            background-image: url('../images/icons/user-regular.svg');
            background-repeat: no-repeat;
            background-size: cover;
            top: 8px;
            left: 15px;
        }
    }
    &__item-title{
        font-size: 36px;
        color: #333;
        margin: 35px 0;
    }
    &__item-text{
        color: $regular;
        margin-bottom: 50px;
    }
    &__item-link{
        color: #a3bbc8;
        border: 1px solid #a3bbc8;
        border-radius: 5px;
        padding: 20px 85px 20px 20px;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        position: relative;
        &::after{
            content: "";
            background-image: url('../images/icons/shape-1.svg');
            width: 22px;
            height: 9px;
            position: absolute;
            top: 26px;
            right: 21px;
        }
    }
    &__aside{
        width: 270px;
    }
}

.blog-page__search{
    width: 270px;
    margin-bottom: 40px;
    position: relative;
    &-input{
        width: 270px;
        border: 1px solid #ebf1f3;
        height: 40px;
        border-radius: 5px;
        position: relative;
        padding: 0 55px 0 10px;
        outline: #ebf1f3;
    }
    &-btn{
        width: 40px;
        height: 40px;
        background-color: #ebf1f3;
        border: none;
        border-radius: 5px;
        position: absolute;
        margin-left: -40px;
        background-image: url('../images/icons/search-2.svg');
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: center center;
        cursor: pointer;
        outline: none;
    }
}

.filter__post{
    &-title{
        font-size: 18px;
        color: $regular;
        @extend %dmsans-700;
        text-transform: uppercase;
        margin-bottom: 30px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 155px;
            color: #a3bbc8;
        }
    }
    &-item{
        display: flex;
        margin-bottom: 20px;
    }
    &-link-img{
        display: block;
        min-width: 71px;
        height: 71px;
        object-fit: cover;
        margin-right: 20px;
    }
    &-img{
        width: 71px;
        height: 71px;
        object-fit: cover;
    }
    &-item__title{
        font-size: 15px;
        color: #333;
        line-height: 20px;
    }
    &-date{
        font-size: 12px;
        color: #9a9a9a;
        padding-left: 20px;
        position: relative;
        &::after{
            content: '';
            position: absolute;
            width: 12px;
            height: 13px;
            background-image: url('../images/icons/calendar-grey.svg');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center left;
            top: 5px;
            left: 0;
        }
    }
}

.blog-one{
    
    &__content{
        width: 830px;
        margin-right: 30px;    
    }
    &__text{
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 15px;
        margin-top: 40px;
        h4{
            font-size: 36px;
            color: #333;
            margin-bottom: 30px;
        }
        p{
            margin-bottom: 45px;
            color: $regular;
        }
        blockquote{
            margin-bottom: 45px;
            border-left: 6px solid #a3bbc8;
            padding: 22px 110px 24px 30px;
            color: $regular;
            span{
                display: block;
                padding-left: 45px;
                position: relative;
                padding-top: 15px;
                &::before{
                    content: '';
                    position: absolute;
                    background-image: url('../images/icons/line-2.svg');
                    width: 20px;
                    height: 2px;
                    left: 4px;
                    top: 27px;
                }
            }
        }
    }
    &__left-img{
        float: left;
        margin-right: 30px;
        margin-bottom: 45px;
        width: 322px;
        height: 210px;
    }
    &__right-img{
        float: right;
        margin-left: 30px;
        margin-bottom: 45px;
        width: 322px;
        height: 210px;
    }
    &__subtitle{
        @extend %rubik-500;
        color: $regular;
        margin-bottom: 25px;
        font-size: 16px;
    }
    &__text-down{
        p{
            color: #565872;
            span{
                padding: 38px 0 30px;
                color: $regular;
                font-size: 18px;
                display: block;
                @extend %rubik-500;
            }
        }
    }
    &__box{
        margin-top: 24px;
        display: flex;
        justify-content: space-between;  
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 24px;
        &-content{
            display: flex;
        }
        &-name{
            font-size: 18px;
            color: #333;
            padding-top: 11px;
        }
        &_prof{
            color: #666;
        }
        &-link:hover{
            path{
                fill: #243f4d;
            }
        }
        &-link{
            margin-left: 15px;
        }
        &-tags{
            color: #333;
        }
        &-tags__link{
            color: #999;
            &:first-child{
                margin-left: 30px;
            }
            &:hover{
                color: #243f4d;
            }
        }
        &-share{
            color: #333;
        }
    }
    &__author-img{
        min-width: 76px;
        height: 76px;
        object-fit: cover;
        margin-right: 30px;

    }

}

.comments{
    margin-top: 60px;
    &__title{
        color: #436372;
        @extend %rubik-700;
        margin-bottom: 50px;
        font-size: 24px;
    }
    &-item:nth-child(3){
        margin-left: 125px;
    }
    
    &-item{
        display: flex; 
        margin-top: 30px;
        &:last-child{
            .comments-item__bottom{
                border-bottom: none;
            }
        }
        &__img{
            min-width: 100px;
            height: 100px;
            object-fit: cover;
            margin-right: 30px;
        }
        &__top{
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
        &__name{
            @extend %rubik-700;
            font-size: 16px;
            color: #436372;
        }
        &__date{
            font-size: 14px;
            color: #9e9e9e;
        }
        &__bottom{
            border-bottom: 1px solid #ebebeb;
            padding-bottom: 45px;   
        }
        &__text{
            color: #565872;
            margin-bottom: 20px;
        }
        &__reply{
            color: #516278;
            font-size: 14px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                background-image: url('../images/icons/arrow-right-solid.svg');
                background-repeat: no-repeat;
                width: 14px;
                height: 14px;
                left: 44px;
                top: 1px;
            }
        }
    }
    &-leave{
        margin-top: 30px;
        &__title{
            color: #436372;
            @extend %rubik-700;
            margin-bottom: 50px;
            font-size: 24px;
        }
        &__input-name{
            width: 400px;
            height: 50px;
            margin-right: 25px;
            padding: 0 25px;
            position: relative;
            &::after{
                content: '';
                position: absolute;
                background-image: url('../images/icons/user-regular.svg');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center right;
                width: 12px;
                height: 14px;
                top: 0;
                right: 0;
            }
        }
        &__input-email{
            width: 400px;
            height: 50px;
            padding: 0 25px;
            position: relative;
            margin-bottom: 20px;
            &::before{
                content: '';
                position: absolute;
                background-image: url('../images/icons/email.svg');
                width: 18px;
                height: 12px;
                right: 0;
                top: 0;
            }
        }
        &__texarea{
            width: 100%;
            height: 120px;
            padding: 18px 20px;
            margin-bottom: 40px;
            position: relative;
            resize: none;
            &::after{
                content: '';
                position: absolute;
                background-image: url('../images/icons/comment.svg');
                background-size: cover;
                width: 18px;
                height: 15px;
                top: 0;
                right: 0;
            }
        }
        &__btn{
            padding: 15px 35px;
            background-color: #a3bbc8;
            color: #fff;
            border: none;
            cursor: pointer;
        }
    }
}

.contact{
    padding: 120px 0 120px;
    &__subtitle{
        color: #a3bbc8;
        @extend %dmsans-700;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
    }
    &__title{
        color: $accent;
        @extend %dmsans-700;
        font-size: 36px;
        margin-bottom: 70px;
        display: flex;
        justify-content: center;
    }
    &__info-item{
        margin-bottom: 120px;
    }
    &__info-list{
        display: flex;
        justify-content: space-between;
    }
    &__info-link{
        background-color: #fbfbfb;
        width: 370px;
        height: 380px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 80px;
            height: 80px;
            top: 64px;
            left: 145px;
            border-radius: 18px;
        }
        .contact__info-link__img{
            position: absolute;
            width: 37px;
            height: 45px;
            top: 82px;
            left: 166px;
            &-address{
                left: 169px;
            }
        }
        h5{
            text-align: center;
            @extend %dmsans-700;
            font-size: 20px;
            color: #222;
            margin-bottom: 30px;
        }
        p{
            text-align: center;
            color: #565872;
            width: 255px;
            margin: 0 auto;
            margin-bottom: 80px;
        }
    }
    &__info-link:hover{
        border: 2px solid #a3bbc8;
        &::before{
            background-color: #a3bbc8;
        }
        &__phone::after{
            color: #fff;
            fill: #fff;
        }
        .contact__info-link__img{
            path{
                fill: #fff;
            }
        }
    }  
    &__bottom{
        display: flex;
    }
    &__form{
        width: 620px;
        margin-right: 50px;
        &-input__name,
        &-input__email{
            width: 300px;
            padding: 10px 25px 10px 20px;
            margin-bottom: 25px;
            background-color: #fafafa;
            border: none;
        }
        &-input__name{
            margin-right: 15px;
            position: relative;
            &::before{
               content: '';
               position: absolute;
               background-image: url('../images/icons/user.svg');
               width: 20px;
               height: 20px;
               top: 0;
               right: 0;
            }
        }
        &-textarea{
            width: 100%;
            height: 175px;
            padding: 10px 40px 10px 20px;
            margin-bottom: 30px;
            background-color: #fafafa;
            border: none;
            resize: none;
            position: relative;
            
        }
        &-btn{
            padding: 10px 35px;
            color: #fff;
            background-color: #a3bbc8;
            border: none;
            border-radius: 6px;
            cursor: pointer;
        }
    }
}

.input__name{
    display: inline-block;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/user.svg');
        background-repeat: no-repeat;
        width: 20px;
        height: 20px;
        top: 12px;
        right: 36px;
        z-index: 1;
    }
}

.input__email{
    display: inline-block;
    position: relative;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/email.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 15px;
        top: 16px;
        right: 24px;
        z-index: 1;
    }
}

.textarea{
    width: 100%;
    position: relative;
    display: inline-block;
    &::before{
        content: '';
        position: absolute;
        background-image: url('../images/icons/comment.svg');
        background-repeat: no-repeat;
        width: 18px;
        height: 15px;
        top: 12px;
        right: 36px;
        z-index: 1;

    }
}

#map {
    width: 500px;
    height: 335px;
  }


@import 'media';

