.header{
    padding: 40px 0 50px;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    } 
}

.logo{
    display: flex;
    &__img{
        height: 39px;
        width: 50px;
        margin-right: 10px;
    }
    &__title{
        color: $accent;
        font-size: 36px;
        line-height: 50px;
    }
}

.menu{ 
    &__list{
        display: flex;      
    }
    &__list-item + .menu__list-item{
        margin-left: 30px;
    }
    &__list-link{
        color: $accent;
        font-size: 15px;
        line-height: 12px;
        @extend %rubik-500;
        &:hover{
            content: '+';
            color: $accent;
        }
    }
}

.user-nav{
    display: flex;
    &__link{
        position: relative;
    }
    &__link + .user-nav__link{
        margin-left: 30px;
    }
    &__link-search{
        background-color: #edf1f4;
        height: 51px;
        width: 51px;
        position: relative;
        border-radius: 50%;
        padding-top: 16px;
        padding-left: 16px;
    }
    &__wrapper{
        background-color: #fcd7b6;
        position: relative;
        height: 50px;
        width: 178px;
        border-radius: 25px;
        padding-top: 14px;
        padding-left: 37px;
        margin-left: 20px;
    }
    &__num{
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: #fff;
        top: -9px;
        right: -8px;
        color: #243f4d;
        text-align: center;
        line-height: 16px;
        @extend %dmsans-400;
        font-size: 10px;
        line-height: 17px;
        color: #243f4d;
    }
    &__link-img{
        display: inline-block;
    }
    &__link-menu{
        position: relative;
        width: 51px;
        height: 51px;
        border-radius: 50%;
        background-color: #a3bbc8;
        padding-top: 16px;
        padding-left: 16px;
        margin-left: 20px;
    }
    &__link-border{
        border-left: 1px solid #fde7d3;
        height: 32px;
        position: absolute;
        align-items: center;
        padding-left: 30px;
    }
}