.shop{
    padding-top: 120px;
    &__inner{
        display: flex;
        justify-content: space-between;
    }
    &__wrapper{
        display: flex;
    }
    &__content{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 100px;
        width: 875px;
    }
}

.shop__product{
    margin-left: 30px;
    margin-bottom: 120px;
    &-item{
        display: flex;
        margin-bottom: 40px;
         &:last-child{
            margin-bottom: 80px;
        }
    }
    &-images{
        width: 370px;
        height: 500px;
        border: 2px solid #f2f2f2;
        display: flex;
        align-items: center;   
    }
    &-img{
        margin: 0 auto; 
    }
    &-info{
        margin: 80px 0 0 60px;
        width: 410px;
    }
    &-title{
        font-size: 40px;
        color: #333;
        margin-bottom: 20px;
    }
    &-star{
        padding: 0;
        margin-bottom: 35px;
    }
    &-numb{
        font-size: 30px;
        color: #333;
        margin-bottom: 25px;
    }
    &-text{
        color: $regular;
        margin-bottom: 40px;
    }
    &-link__add{
        width: 50px;
        height: 50px;
        background-color: #a3bbc8;
        display: flex;
        align-items: center;
    }
    &-link__like{
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
    }
    &-link__add-img{
        background-color: #a3bbc8;  
        align-items: center;
        margin: 0 auto;
    }
    &-link__like-img{  
        margin: 0 auto;
    }
    &-link__like{
        width: 50px;
        height: 50px;
        background-image: url('../images/icons/like.svg');
    }
    &-list{
        display: flex;
    }
}

.filter{
    &__title{
        @extend %dmsans-700;
        font-size: 18px;
        color: #243f4d;
        position: relative;
        margin-bottom: 30px;
        text-transform: uppercase;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 125px;
            color: #a3bbc8;
        }
    }
}

.filter__item{
    width: 270px;
}

.filter__category{
    margin-bottom: 60px;
    &-label{  
        cursor: pointer;
    }
    &__title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 125px;
            color: #a3bbc8;
        }
    }
    &-input{
        @extend %checkbox-hidden;
        &:checked + .filter__category-checkbox{
            background-color: #edf1f4;
        }
    }
    &-checkbox{
        background-color: #fff;
        width: 270px;
        padding: 15px 20px 13px 15px;
        position: relative;
        border-radius: 6px;
        margin-bottom: 5px; 
        &::before{
            content: '';
            position: absolute;
            background-image: url('../images/icons/right.svg');
            background-repeat: no-repeat; 
            background-size: cover;
            width: 6px;
            height: 10px;
            top: 15px;
            left: 240px;
        }
    }
    &-text{
        color: $regular;
    }
}

.irs--flat .irs-min, .irs--flat .irs-max{
    display: none;
}

.irs--flat .irs-from, .irs--flat .irs-to, .irs--flat .irs-single{
    display: none;
}

.irs--flat .irs-handle>i:first-child {
    position: absolute;
    display: block;
    top: -3px;
    left: 50%;
    width: 15px;
    height: 15px;
    margin-left: -1px;
    background-color: #a3bbc8;
    cursor: pointer;
}

.irs--flat .irs-handle.state_hover>i:first-child, .irs--flat .irs-handle:hover>i:first-child {
    background-color: #a3bbc8;
}

.irs--flat .irs-line {
    top: 25px;
    height: 2px;
    background-color: #c2d2db;
    border-radius: 4px;
}

.irs--flat .irs-bar {
    top: 25px;
    height: 4px;
    background-color: #a3bbc8;
}

.irs--flat .irs-from:before, .irs--flat .irs-to:before, .irs--flat .irs-single:before {
    display: none;
}

.filter__price{
    margin-bottom: 80px;
    &-title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 75px;
            color: #a3bbc8;
        }
    }
    &-label{
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
    &-span{
        color: $regular;
        font-size: 14px;

    }
}

.filter__brand{
    margin-bottom: 50px;
    &-title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 85px;
            color: #a3bbc8;
        }
    }
    &-label{
        cursor: pointer;
    }
    &-input{
        @extend %checkbox-hidden;
        &:checked + .filter__brand-checkbox{
            background-color: #edf1f4;
        }
    }
    &-checkbox{
        display: flex;
        justify-content: space-between;
        color: $regular;
        padding: 15px 20px 13px 15px;
        border-radius: 6px;
        margin-bottom: 5px;
        cursor: pointer;
    }
    
}

.filter__recent{
    &-title{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            background-image: url('../images/icons/line.svg');
            background-repeat: no-repeat;
            background-size: cover;
            width: 38px;
            height: 2px;
            top: 11px;
            left: 195px;
            color: #a3bbc8;
        }
    }
    &-content__title{
        margin-bottom: 2px;
        color: $title;
    }
    &-item{
        margin-bottom: 25px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &-link{
        display: flex;
    }
    &-images{
        width: 70px;
        height: 70px;
        border: 2px solid #f2f2f2;
    }
    &-img{
        margin: 0 auto;
        padding: 1px 0; 
    }
    &-price{
        font-size: 15px;
        color: #333;
    }
    &-content{
        padding-left: 20px;
    }
}

.star{
    padding: 0;
    margin-bottom: 4px;
}

.product__item{
    width: 270px;
    margin-bottom: 40px;
    background-color: #fff;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);
    &__img-box{
        position: relative;
        height: 205px;
        overflow: hidden;
        margin-bottom: 50px;
    }
    &-link__box{
        position: absolute;
        left: 65px;     
        bottom: 14px;
        width: 220px;
        transform: translateY(300%);
        transition: all .3s;
    }
    &-link{  
        background-color: #fff;
        border-radius: 50%;
        padding: 14px 8px 5px;
        margin: 0 auto;
        path{
            transition: all .3s;
        }
        &:hover{
            background-color: #a3bbc8;
            path{
                 fill: #fff;
            }
        }
    }
    .product__item-link + .product__item-link{
        margin-left: 10px;
    }
    &-images{
        object-fit: cover;
        margin: 0 auto;
    }
    &-title{
        @extend %dmsans-500;
        line-height: 40px;
        color: #243f4d;
        text-align: center;
    }
    &-price{
        @extend %dmsans-700;
        color: #a3bbc8;
        text-align: center;
    }
    &:hover{
        .product__item-link__box{
            transform: translateY(0)
        }
    }
}

.product-view{
    display: flex;
    &__item{
        height: 390px;
        width: 870px;
        background-color: #feefe2;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 30px;
    }
    &__images{
        padding-bottom: 170px;
    }
    &__content{
        max-width: 345px;
    }
    &__title{
        @extend %rubik-400;
        font-size: 26px;
        line-height: 32px;
        color: #243f4d;
        margin-bottom: 25px;
    }
    &__text{
        padding-bottom: 35px;
        color: #243f4d;
    }
    &__more{
        color: #436372;
        border: 1px solid #b3b7b5;
        border-radius: 5px;
        padding: 20px 85px 20px 20px;
        @extend %rubik-500;
        font-size: 15px;
        line-height: 12px;
        position: relative;
        &::after{
            content: "";
            background-image: url('../images/icons/arrow-2.svg');
            width: 22px;
            height: 9px;
            position: absolute;
            top: 26px;
            right: 21px;

        }
    }
}