.terms{
    padding-top: 120px;
    &__title{
        @extend %rubik-500;
        font-size: 24px;
        color: $regular;
        margin-bottom: 25px;
    }
    ol.terms__list{
        margin: 0 0 60px 20px;
        color: $regular;
        line-height: 30px;
    }
    &__item{
        margin-bottom: 20px;
    }
    &__text{
        color: $regular;
        margin-bottom: 60px;
    }
}
@media (max-width: 950px){
    .terms{
        padding-top: 80px;
    }
}
@media (max-width: 650px){
    .terms{
        padding-top: 60px;
    }
}
@media (max-width: 450px){
    .terms{
        padding-top: 30px;
    }
}